<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dk.blackdarkness.g17.cphindustries">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_ci_logo_small_trans"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/CPHIndustriesTheme">
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize"
            android:theme="@style/CPHIndustriesTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".menuitems.SettingsActivity"
            android:label="Settings"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".activities.MainActivity">
        </activity>
        <activity
            android:name=".menuitems.AboutActivity"
            android:label="About"
            android:parentActivityName=".activities.MainActivity">
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="3880ff607ba8029ca6386dcb8788d10d9151e29d" />

    </application>
</manifest>